<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuktionApp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="site-header">
        <nav class="site-navbar">
            <a class="site-logo" asp-area="" asp-controller="Home" asp-action="Index">AuktionApp</a>
            <div class="navbar-menu">
                <ul class="navbar-links">
                    <li class="navbar-item">
                        <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Index">Startsida</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" asp-area="" asp-controller="AuctionItems" asp-action="Inventory">Inventarie</a>
                    </li>
                    <li>
                        @await Html.PartialAsync("_LoginPartial")
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="main-container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer">
            <p>2025 - AuktionApp made by Sebastian Kvist</p>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>