@{
    ViewData["Title"] = "Hemsida";
}
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<div>
    <h1>Gammalt Glimmer: Auktionssystemet</h1>
    <p class="pIntro">
        Tryck på Register för att registrera dig mellan två olika roller som har olika behörigheter under "Inventarie" <br>
        Som "Inköpare" kan du lägga till nya försäljningsobjekt, sätta ett startpris, kategori och redigera dina egna objekt. <br>
        Som "Auktionsansvarig" kan du markera objekt som sålda och ange slutpris.
    </p>
</div>
