/* Grundläggande styling */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(44, 44, 44);
  margin: 0;
  padding: 0;
}
/* För alla länkar */
a {
  color: #ffffff; 
  text-decoration: none; 
}

label {
  margin-bottom: 0.5rem;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  padding: 0.5rem;  
  width: 30%;  
  margin-bottom: 1rem; 
}

/* Header */
.site-header {
  background-color: #b8503e;
  color: white;
  padding: 1.5rem;
  display: flex;
}

.site-navbar {
  display: flex;
  align-items: center;
  width: 100%;
}

.site-logo {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}


/* Navbar */
.navbar-menu {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 50%;
}
.navbar-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center; /* Centrerar menyn */
}
.navbar-link {
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.navbar-link:hover {
  color: #df3232;
}
.navbar-item {
  padding: 0 1rem;
}
.navbar-login {
  display: flex;
  color: white;
  text-decoration: none;
}
.navbar-login :hover {
  color: #df3232;
}
.nav-link {
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

/* Startsida */

.pIntro {
  font-size: 1.1rem; 
  line-height: 1.7; 
  max-width: 1200px;
}

/* Huvudcontainer */
.main-container {
  max-width: 50%;
  margin: 2rem auto;
  padding: 4rem;
  background-color: #4e4e4e;
}

/* Inventarie*/
.inventory-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem; 
}

/* Försäljningsobjekt */
.AddAucBtn{
  background-color: #12f36c;
  color: white;
  padding: 0.75rem 2rem;
  border: none;
  text-decoration: none;
  font-weight: bold;
  margin: 2rem;
  margin: auto;
}
.AddAucBtn:hover {
  background-color: #10be56;
}
.item-header {
  margin-bottom: 1rem;
}
.auction-item{
  background-color: #353534;
  color: white;
  padding: 0.5rem 2rem;
  margin-top: 1.5rem;
}
.auction-item h2 {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}
.auction-item p {
  font-size: 1rem;
  margin: 0.5rem 0;
}
.auction-item .item-actions {
  margin-top: 2rem;
  margin-bottom: 1rem;
}


.EditAucBtn{
  background-color: #606060;
  color: white;
  padding: 0.75rem 2rem;
  border: none;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
}
.EditAucBtn:hover {
  background-color: #e67e22;
}

/* Footer */
.site-footer {
  background-color: #f1f1f1;
  padding: 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: #333;
}

/* FORMULÄR */
.btn {
  padding: 0.2rem 2rem;
  margin-top: 0.4rem;
}

.standardBtn {
  background-color: #3a3a3a;
  color: white;
  padding: 0.5rem 2rem;
  border: none;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}
.standardBtn:hover {
  background-color: #349354;
}
